name: Deploy to GitHub Pages

env:
  PROJECT_PATH: AvaloniaWebDeploySample.Browser/AvaloniaWebDeploySample.Browser.csproj
  OUTPUT_PATH: AvaloniaWebDeploySample.Browser/bin/Release/net8.0-browser/publish

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install wasm-tools
        run: dotnet workload install wasm-tools

      - name: Publish .NET Project
        run: dotnet publish $PROJECT_PATH -c Release -p:GHPages=true -o $OUTPUT_PATH --nologo

      - name: move outputs (WTF)
        run: mv -f AvaloniaWebDeploySample.Browser/bin/Release/net8.0-browser/publish/wwwroot/* AvaloniaWebDeploySample.Browser/bin/Release/net8.0-browser/publish/

      - name: Clean up unwanted files and directories
        run: |
          rm -rf $OUTPUT_PATH/wwwroot
          rm -rf $OUTPUT_PATH/AvaloniaWebDeploySample
          rm -rf $OUTPUT_PATH/AvaloniaWebDeploySample.Browser
          rm -f $OUTPUT_PATH/*.json
          rm -f $OUTPUT_PATH/web.config

      - name: Change base-tag in index.html
        run: |
          REPO_NAME="${GITHUB_REPOSITORY#*/}"
          OWNER_NAME="${GITHUB_REPOSITORY_OWNER}"

          if [ "$REPO_NAME" = "${OWNER_NAME}.github.io" ]; then
            BASE_PATH="/"
          else
            BASE_PATH="/${REPO_NAME}/"
          fi

          sed -i "s#<base href=\"/\" />#<base href=\"${BASE_PATH}\" />#g" "$OUTPUT_PATH/index.html"

      - name: copy index.html to 404.html
        run: cp $OUTPUT_PATH/index.html $OUTPUT_PATH/404.html        

      - name: Add .nojekyll file
        run: touch $OUTPUT_PATH/.nojekyll

      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: ${{ env.OUTPUT_PATH }}
          single-commit: true
